<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OrgaTalk-Wiki</title>
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/orgatalk.css">
    <meta name="description" content="Wiki mit Tipps zur Organisation von LAN-Partys">
    <meta name="keywords" content="LANparty, LAN-Party, Wiki, Organisation, Technik, Netzwerk, Server, Dienste">
    <meta property="og:description" content="Wiki mit Tipps zur Organisation von LAN-Partys">
    <meta property="og:image" content="https://wiki.orgatalk.de/images/logo-square_480x480.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="480">
    <meta property="og:image:height" content="480">
    <meta property="og:image" content="https://wiki.orgatalk.de/images/banner_720x160.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="720">
    <meta property="og:image:height" content="160">
    <meta property="og:locale" content="de_DE">
    <meta property="og:site_name" content="OrgaTalk">
    <meta property="og:title" content="OrgaTalk-Wiki">
    <meta property="og:type" content="website">
  </head>
  <body>

    <div class="page-layout">

      <section class="page-header">
        <header class="container header">

          <a href="/" class="header-item">
            <div class="header-brand-icon">
              <svg viewBox="0 0 17 16">
                <path fill="currentColor" d="M8 3.429c-3.714 0-6.857 2.089-6.857 4.571 0 1.33 0.893 2.598 2.438 3.473l0.777 0.446-0.241 0.857c-0.17 0.634-0.393 1.125-0.625 1.536 0.902-0.375 1.723-0.884 2.455-1.527l0.384-0.339 0.509 0.054c0.384 0.045 0.777 0.071 1.161 0.071 3.714 0 6.857-2.089 6.857-4.571s-3.143-4.571-6.857-4.571zM16 8c0 3.161-3.58 5.714-8 5.714-0.438 0-0.875-0.027-1.295-0.071-1.17 1.036-2.563 1.768-4.107 2.161-0.321 0.089-0.67 0.152-1.018 0.196h-0.045c-0.179 0-0.339-0.143-0.384-0.339v-0.009c-0.045-0.223 0.107-0.357 0.241-0.518 0.563-0.634 1.205-1.17 1.625-2.661-1.839-1.045-3.018-2.661-3.018-4.473 0-3.161 3.58-5.714 8-5.714v0c4.42 0 8 2.554 8 5.714z"/>
              </svg>
            </div>
            <div class="header-brand-text">
              <div class="header-brand-title">OrgaTalk-Wiki</div>
              <div class="header-brand-subtitle">Weil wir das schon immer so gemacht haben.</div>
            </div>
          </a>

        </header>
      </section>

      <main class="page-body">
        <div class="container">
{% block content %}{% endblock %}
        </div>
      </main>

      <section class="page-footer">
        <footer class="container footer">
          <div class="row row--space-between">

            <div class="column-auto" style="text-align: left;">
              <p class="footer-slogan">Von Orgas. <span class="footer-slogan-icon"><svg class="icon"><use xlink:href="/style/icons.svg#recycle"></use></svg></span> Für Orgas.</p>
              <small>
                <p>
                  2021
                  &middot;
                  Ein <a href="https://www.orgatalk.de/">OrgaTalk</a>-Projekt
                  &middot;
                  <a href="https://www.orgatalk.de/imprint">Impressum</a>
                </p>
                <p>
                  Built with <a href="https://www.getzola.org/">Zola</a>
                </p>
              </small>
            </div>

          </div>
        </footer>
      </section>

    </div>{# /.page-layout #}

  </body>
</html>
