{% extends "base.html" %}

{% block content %}
<h1>OrgaTalk-Wiki</h1>
<h2>HowTo LANParty</h2>
<h3>Vorwort</h3>
<p>Du hast bereits eine LANParty in der Garage deiner Eltern veranstaltet und bist nun bereit über dich hinauszuwachsen.<br/>
Du hast bereits ein Angebot für eine Location und fragst dich...was brauch ich sonst noch? Ein paar alte Switches liegen noch im Keller - Mehrfachsteckdosen und Kabeltrommeln sind auch da...<br/>
<b>Stopp!</b><br />
Das Veranstalten einer öffentlichen LANParty mit fremden Gästen ist alles andere als einfach.<br />
Dies erfordert ab einer gewissen Größe eine sorgfältige Planung in vielen Bereichen.<br />
</p>
<h3>Grundlagen</h3>
<ul>
	<li><a href="/wiki/groesse">Größe</a></li>
	<li>Location</li>
	<li>Termin</li>
	<li>Finanzen</li>
</ul>
<h3>Technik</h3>
<ul>
        <li>Strom</li>
        <li>Netzwerk</li>
	<li>Server</li>
        <li>Internet</li>
	<li>Beamer / Bühne</li>
</ul>
<h3>Event</h3>
<ul>
	<li>Einlass</li>
	<li>Catering</li>
        <li>Bar</li>
        <li>Schlafen</li>
</ul>
<h3>Sonstiges</h3>
<ul>
        <li>Presse</li>
        <li>Werbung</li>
        <li>Sponsoring</li>
</ul>

<p><font size="+2">Bereit? Hier findest du unser <a href="/wiki/">Wiki</a></font></p>

{% endblock content %}
